* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Bad Script', cursive;
}
.age {
    display: flex;
    justify-content: center;
    align-items: center;
    

}
input[type="date"] {
    border-radius: 5px;
    height: 20px;
    border-color: green;
    outline-color: green;

}
input[type="submit"] {
    border-radius: 5px;
    height: 25px;
    border-color: green;
    outline-color: green;
    color: white;
    background-color: green;
}
p {
    text-align: center;
    color: green;
}